.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.card-container {
  display: flex;
  justify-content: space-around; /* Adjust to space the cards evenly */
  align-items: flex-start; /* Align cards at the top */
  flex-wrap: wrap; /* Wrap cards to the next line if there are too many */
  margin-top: 5px;
}

.example-card {

  margin: 10px; /* Add some margin around each card */
  width: 300px; /* Set a fixed width for the cards */
  transition: transform 0.3s, box-shadow 0.3s;
}

.example-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.mat-card-image {
  transition: transform 0.3s;
}

.example-card:hover .mat-card-image {
  transform: scale(1.1);
}

.mat-card-actions button {
  transition: background-color 0.3s, color 0.3s;
}

.mat-card-actions button:hover {
  background-color: #00796b;
  color: white;
}

.matcardprofile {
  color: #ff0000;
}

.matcardprofile:hover {
  /* Add any hover effects for .matcardprofile here */
}
