<!-- cards container -->
<div class="card-container">
 <!--  mat cards wajdin -->
  <mat-card class="example-card" appearance="outlined">
   
    <img mat-card-image src="assets\nutrition.jpg" alt="nutrion photo ">
    <mat-card-content>
      <p>
        
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Nutrition</button>
    </mat-card-actions>
  </mat-card>
  
  
  <mat-card class="example-card" appearance="outlined">
   
    <img mat-card-image src="assets\sessions.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Session Reservations</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card" appearance="outlined">
   
    <img mat-card-image src="assets\calendar.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>calendar</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card" appearance="outlined">
   
    <img mat-card-image src="assets\membership.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Memberships</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card" appearance="outlined">
   
    <img mat-card-image src="assets/reports.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Dashboard reports</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card" appearance="outlined">
   
    <img mat-card-image src="assets/settings.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      
      <p>
        
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Settings</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="matcardprofile" class="example-card" appearance="outlined" >
   
    <img mat-card-image src="assets/profilee.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        
      </p>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <button mat-button>Profile</button>
    </mat-card-actions>
  </mat-card>

</div>